{
  "root": true,
  "extends": ["eslint:recommended", "prettier"],
  "env": {
    "es2022": true,
    "node": true
  },
  "parserOptions": {
    "sourceType": "module"
  },
  "rules": {
    "indent": "off",
    "linebreak-style": ["error", "unix"],
    "eqeqeq": ["error", "always"],
    "no-var": "error",
    "prefer-const": ["error", { "destructuring": "all" }],
    "no-restricted-syntax": [
      "error",
      {
        "selector": "Identifier[name=/^$/]",
        "message": "Using \"$\" in variable names is disallowed."
      }
    ],
    "no-plusplus": "error",
    "quotes": [
      "error",
      "double",
      { "avoidEscape": true, "allowTemplateLiterals": true }
    ],
    "semi": ["error", "never"],
    "no-implicit-globals": "error",
    "no-warning-comments": ["error", { "terms": ["fixme", "todo"] }],
    "newline-before-return": "error",
    "curly": "error",
    "padded-blocks": ["error", "never"],
    "space-before-blocks": "error",
    "padding-line-between-statements": [
      "error",
      {
        "blankLine": "always",
        "prev": "*",
        "next": "*"
      }
    ],
    "camelcase": "error",
    "no-unused-vars": "error",
    "complexity": ["error", { "max": 10 }],
    "max-depth": ["error", 4],
    "max-lines-per-function": ["error", { "max": 50 }],
    "max-params": ["error", 3],
    "no-magic-numbers": ["error", { "ignore": [-1, 0, 1] }],
    "no-process-env": "error",
    "no-inline-comments": "error",
    "sort-imports": [
      "error",
      {
        "ignoreCase": true,
        "ignoreDeclarationSort": true,
        "ignoreMemberSort": false,
        "memberSyntaxSortOrder": ["none", "all", "multiple", "single"]
      }
    ],
    "prefer-arrow-callback": "error",
    "prefer-template": "error",
    "consistent-return": "error"
  }
}
