{
  "root": true,
  "extends": [
    "eslint:recommended",
    "prettier",
    "next",
    "plugin:react/recommended"
  ],
  "plugins": ["react", "react-hooks"],
  "env": {
    "es2022": true,
    "node": true
  },
  "parserOptions": {
    "sourceType": "module"
  },
  "rules": {
    "indent": "off",
    "linebreak-style": ["error", "unix"],
    "quotes": [
      "error",
      "double",
      { "avoidEscape": true, "allowTemplateLiterals": true }
    ],
    "semi": ["error", "never"],
    "eqeqeq": ["error", "always"],
    "no-var": "error",
    "prefer-const": "error",
    "no-restricted-syntax": [
      "error",
      {
        "selector": "Identifier[name=/^$/]",
        "message": "Using \"$\" in variable names is disallowed."
      }
    ],
    "no-plusplus": "error",

    "no-console": "error",
    "no-implicit-globals": "error",
    "no-warning-comments": ["error", { "terms": ["fixme", "todo"] }],
    "newline-before-return": "error",
    "curly": "error",
    "padded-blocks": ["error", "never"],
    "space-before-blocks": "error",
    "padding-line-between-statements": [
      "error",
      {
        "blankLine": "always",
        "prev": "*",
        "next": "*"
      }
    ],
    "react-hooks/rules-of-hooks": "error",
    "react-hooks/exhaustive-deps": "warn",
    "react/no-unescaped-entities": ["error", { "forbid": [">", "}"] }],
    "react/react-in-jsx-scope": "off",
    "react/prop-types": "off"
  },
  "settings": {
    "react": {
      "version": "detect"
    }
  }
}
